<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onlogin(loginform)" #loginform="ngForm"  *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="email" #email="ngModel"
          name="email" ngModel
        placeholder="Email" required email  />
        <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput type="password" #password="ngModel"
          name="password" ngModel
        placeholder="Password" required />
        <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
        
        
       <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
  